
    h1 New album details
    form
      .form-group.row
        label.col-sm-2.form-control-label(for='inputTitle') Title
        .col-sm-10
          input#inputEmail3.form-control(type='text', placeholder='Title')
      .form-group.row
        label.col-sm-2.form-control-label(for='inputArtist') Artist
        .col-sm-10
          input#inputPassword3.form-control(type='text', placeholder='Artist')
      .form-group.row
        .col-sm-offset-2.col-sm-10
          button.btn.btn-secondary(type='submit') Add album

