extends layout

block content
  .jumbotron
    .container
      h1 New album details
      form
        .form-group.row
          label.col-sm-2.form-control-label(for='inputTitle') Title
          .col-sm-10
            input#inputTitle.form-control(type='text', placeholder='Title')
        .form-group.row
          label.col-sm-2.form-control-label(for='inputArtist') Artist
          .col-sm-10
            input#inputArtist.form-control(type='text', placeholder='Artist')
        .form-group.row
          label.col-sm-2.form-control-label(for='inputTracks') Tracks
          .col-sm-10
            input#inputTracks.form-control(type='text', placeholder='Tracks')
        .form-group.row
          label.col-sm-2.form-control-label(for='inputComments') Comments
          .col-sm-10
            input#inputComments.form-control(type='textarea', placeholder='Comments')
        
        .form-group.row
          label.col-sm-2.form-control-label(for='inputTags') Tags
          .col-sm-10
            input#inputTags.form-control(type='textarea', placeholder='Tags' data-role='tagsinput')
        .form-group.row
          label.col-sm-2.form-control-label() 
          .col-sm-10
            i enter a few words to describe the music on the album, e.g pop, blues, ethereal.

        .form-group.row
          label.col-sm-2.form-control-label(for='inputTags') Links
          .col-sm-10
            input#inputLinks.form-control(type='textarea', placeholder='Links')
        .form-group.row
          label.col-sm-2.form-control-label() 
          .col-sm-10
            i enter links to tracks, or the entire album on YouTube or other services.

        .form-group.row
          label.col-sm-2.form-control-label(for='inputTags') Tags
          .col-sm-4
            input#inputTags.form-control(type='textarea', placeholder='Tags' data-role='tagsinput')

          label.col-sm-2.form-control-label(for='inputTags') Links
          .col-sm-4
            input#inputLinks.form-control(type='textarea', placeholder='Links')
         label.col-sm-2.form-control-label() 
          .col-sm-4
            i enter a few words to describe the music on the album, e.g pop, blues, ethereal.


          label.col-sm-2.form-control-label() 
          .col-sm-4
            i enter links to tracks, or the entire album on YouTube or other services.





        .form-group.row
          .col-sm-offset-2.col-sm-10
            button.btn.btn-secondary(type='submit') Add album

