extends layout

block content
  .jumbotron
    .container
      h1 New album details
      form
        .form-group.row
          label.col-sm-2.form-control-label(for='inputTitle') Title
          .col-sm-10
            input#inputTitle.form-control(type='text', placeholder='Title')
        .form-group.row
          label.col-sm-2.form-control-label(for='inputArtist') Artist
          .col-sm-10
            input#inputArtist.form-control(type='text', placeholder='Artist')
        .form-group.row
          label.col-sm-2.form-control-label(for='inputTracks') Tracks
          .col-sm-10
            input#inputTracks.form-control(type='text', placeholder='Tracks')
        .form-group.row
          label.col-sm-2.form-control-label(for='inputComments') Comments
          .col-sm-10
            input#inputComments.form-control(type='textarea', placeholder='Comments')
        .form-group.row
          .col-sm-offset-2.col-sm-10
            button.btn.btn-secondary(type='submit') Add album

